tr.coin-data-header th {
  color: #b9b9b9;
  font-size: 14px;
  border-bottom: 1px solid #777;
  border-collapse: collapse;
  border-spacing: 0;
  padding-bottom: 5px;
}

tbody > tr:first-child > td {
  padding-top: 8px;
}

tfoot > tr > td {
  color: #b9b9b9;
  font-size: 14px;
  border-top: 1px solid #777;
  padding-top: 5px;
  border-collapse: collapse;
  border-spacing: 0;
}

.cc {
  padding-right: 8px;
}

.coin-asset {
  height: 8px;
}
.coin-asset td {
  padding-bottom: 8px;
}

.coin-item td,
.coin-asset td {
  padding-right: 20px;
}
td.cc-symbol {
  padding-right: 0px;
}


.coin-asset {
  font-size: 12px;
  color: #b9b9b9;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  padding: 0px 8px !important;
}
