.NoteItem {
	display: flex;
	padding-bottom: 8px;
}

.NoteIcon {
	width: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.NoteReminder {
	font-size: 12px;
}

.NoteTitle {
}

.NoteText {
	font-size: 14px;
}

.NotesTitle {
	font-size: 14px;
	border-bottom: 1px solid #777;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
