body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #161616;
  background-color: currentColor;
}

.widget {
  padding-bottom: 40px;
}

.textAlert {
  color: #ffb9b9;
}
.textSuccess {
  color: #b9ffc3;
}
.textDimmed {
  color: #b9b9b9;
}

/* remove stuff from gmap */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
