body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #161616;
  background-color: currentColor;
}

.widget {
  padding-bottom: 30px;
}

.textAlert {
  color: #ffb9b9;
}

.textSuccess {
  color: #b9ffc3;
}
